.color-yellow {
    background-color: yellow;
}
#color-white {
    background-color: rgb(168, 210, 235);
}
#encabezado {
    color: yellow;
    text-shadow: 15px 15px grey;
}

table { 
    width: 1000px;
    height: 700px;
    background-color: white;
}

iframe {
    width: 700px;
    height: 600px;
}
#bart-foto {
    width: 150px;

}

#lisa-foto {
    width: 200px;
}

#homer-foto {
    width: 220px;
}

#marge-foto {
    width: 200px;
}