.color-yellow {
    background-color: yellow;
}

#color-white {
    background-color: rgb(168, 210, 235);
}

#cabecera {
    display: flex;
    justify-content: space-around;
}

#encabezado {
    color: yellow;
    font-size: 50pt;
    padding: 20px;
    width: 500px;
}

#encabezado:hover {
    color: blue;
    background-color: white;
    text-shadow: 5px 5px rgb(189, 155, 155);
    width: 500px;
    padding: 20px;
}

#spotify {
    margin-top: 25px;
}

table {
    width: 1000px;
    height: 700px;
    background-color: white;
}

#simpsons {
    width: 700px;
    height: 600px;
}

#bart-foto {
    width: 150px;

}

#lisa-foto {
    width: 200px;
}

#homer-foto {
    width: 220px;
}

#marge-foto {
    width: 200px;
}