* {
    margin: 0px;
    padding: 0px;
}

header { 
    height: 110px;
    background-color: purple;
    margin: 0px;
}

nav {
    padding: 5px;
    background-color: #FFB38E;
    width: 135px;
    margin-left: -5px;
    margin-top: 0px;
    height: 430px;
}

li {
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    width: 120px;
    margin-top: -4px;
    height: 50px;
    text-align: center;
    position: relative;
    padding: 5px;
    border: 9px solid purple;
    border-style: ridge;
}


a {
    text-decoration: none;
    color: darkblue;
    width: 120px;
    height: 60px;
    padding: 5px;    
}

li:hover {
    background-color: #FFFDCB;
    width: 120px;
    height: 50px;
    padding: 5px;
    text-align: center;
}

li ul{ 
    display: none;
    background-color: #FFB38E;
    width: 120px;
    z-index: 1;
}

li ul a { 
    text-decoration: none;   
}

li:hover ul{
    display: block;
    position: absolute;
    left: 130px;
    top: -4px;
    width: 140px;
    list-style: none;
}
body {
    background-color:#FF8E8F;
    width: 100%;
}
