body {
    background-image: url("campo.jpg");
    background-size: cover;
    background-position: 0 -240px;
}

.jugadores{
    width:150px;
    position: absolute;
}
.pelota{
    width: 30px;
    position: absolute;
    bottom: 0px;
}


@keyframes moreno {
    0%{
        left: -400px;
    }
    25% {
        left: 200px;
    } 
    33%{
        left: 300px;
    }
    50%{
        left: 400px;
    }
    75%{
        left: 900px;
    }
    100% {
        left: 1100px;;
    } 
}

@keyframes rubio {
    0%{
        left: -500px;       
    } 

    25% {
        left: 0px;
        bottom: 0px;

    }
	100%{
        left:450px;
    } 
}

@keyframes pelota {
    0% {
        bottom: 0px;
        left: 0px;
       }
    25% {
        left: 800px;
        bottom: 600px;
        transform: scale(0.5, 0.5);
    }
    50% {
        left: 1100px;
        bottom: 100px;
        transform: scale(0.5, 0.5);
    }
    75% {
        width: 30px;
        left: 1450px;
        bottom: 0px;
        transform: scale(1, 1);
    }

    80% {
        left: 780px;
    }
    90% {
        left: 1250px;
        bottom: 100px;
        transform: scale(0.5, 0.5);
    } 
    100% {
        z-index: 0;
        left: 1700px;
        bottom: 100px;
        transform: scale(1, 1);

    }
}


@keyframes rival {
    from {
        right: 0px;
    }

    to{ 
        right: 190px;
    }


    
}
.moreno {
    left: 100px;
    bottom: 100px;
    animation-name: moreno;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 2;
}

.rubio {
    left: -300px;
    bottom: 0px;
    animation-name: rubio;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}



.pelota {
    z-index: 5;
    animation-name: pelota;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-direction: alternate;
}


.rival {
    position: absolute;
    bottom: 0px;
    right: 0px;
    animation-name: rival;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}